*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --gradient-top: linear-gradient(0deg, rgba(22, 24, 19, 0) 0%, rgba(22, 24, 19, 0.22) 36.98%, rgba(22, 24, 19, 0.47) 70.83%, rgba(22, 24, 19, 0.76) 100%);
  --gradient-bottom: linear-gradient(180deg, rgba(22, 24, 19, 0) 0%, rgba(22, 24, 19, 0.42) 21.88%, rgba(22, 24, 19, 0.69) 41.67%, rgba(22, 24, 19, 0.9) 61.98%, rgba(22, 24, 19, 0.99) 78.12%, #161813 100%);
  --sphere-gradient-one: radial-gradient(50% 50% at 20% 25%, #686868 0%, #403F3F 35%, #222222 70%, #000000 100%);
  --sphere-gradient-two: radial-gradient(51.04% 51.04% at 18.94% 26.18%, #686868 0%, #403F3F 36.98%, #222222 70.83%, #000000 100%);
}
body{
  background-color:lightslategray;
  color:rgb(14, 13, 13);

}
/*========================Nav Bar=========================*/
.nav-bar {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 90px;
  background-color: #fff;
  box-shadow: 3px 3px 10px lightslategray;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 8;
  }
  .nav-link{
  display: flex;
  column-gap: 5px;
  }
  
  .nav-link a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  }
  
  .nav-link a:hover{
  text-decoration: underline;
  color: #014b85;
  }
  
  .navbar-menu-toggle{
  display: none;
  
  }
  
  .slidebar{
  background-color: wheat;
  width: 40%;
  height: 100%;
  position: fixed;
  padding: 30px;
  z-index: 5;
  color: white;
  left:-60%;
  transition: 3s;
  }
  
  .SNL{
  margin-bottom: 20px;
  }
  
  .SNL a{
  color: black;
  text-transform: uppercase;
  }
  .SNL a:hover{
  color: blue;
  }
  
  @media screen and (max-width:900px) {
  .navbar-menu-toggle{
      display: block;
    }  
    .nav-link{
      display: none;
  
    }
  } 

.c{
  font-size: 15px;
  color: rgb(209, 224, 178);
  padding: 5px;

}


/*=============================Banner=============================*/
.banner {
  background-image: url("https://res.cloudinary.com/dxssqb6l8/image/upload/v1605294054/young-woman-enjoying-beautiful-scenery-of-lago-di-braies-italy-picjumbo-com_aa0fvw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*overflow: hidden;*/
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  /*background-size: 100%;*/
}

.banner-text-item {
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.banner-heading {
  flex: 1;
}

.banner-heading h1 {
  font-size: 100px;
  font-weight: normal;
  color: #fde02f;
  font-family: Satisfy;
}

.banner-text-item .form {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 70%;
  padding: 1% 2%;
}

.banner-text-item input,
.banner-text-item .date,
.banner-text-item .book {
  padding: 15px;
  margin-right: 10px;
  font-size: 18px;
  font-family: Roboto;
  border-radius: 5px;
  outline: 0;
  border: none;
}

.banner-text-item input {
  width: 50%;
  flex: 2;
}

.banner-text-item .date {
  width: 20%;
  flex: 1;
}

.banner-text-item .book {
  width: 20%;
  flex: 1;
}

.banner-text-item .book {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  padding: 15px;
  cursor: pointer;
  background-color: #fde02f;
  font-size: 12px;
  font-weight: normal;
  font-family: "Barlow Condensed";
  width: 20%;
}


.places-text {
  text-align: center;
  margin-bottom: 50px;
 
  
}

.places-text h1 {
  font-family: Roboto;
  color: #ffc342;
  font-size: 55px;
  font-weight: bolder;

}



.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.card {
  border: 2px solid lightgray;
  box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.3);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 80%;
  height: auto;
}

.card img {
  max-width: 100%;
  height: 300px;
  border-radius: 4px;
  cursor: pointer;
}

.cards .text {
  padding: 10px;
  font-family: Barlow Condensed;
  line-height: 40px;
}

.card:hover {
  box-shadow: 5px 5px 40px lightsteelblue;
}





  /*------------Zoom in Photos--------------*/
  .zoom-img {
      float: left;
      position: relative;
      width: 100%;
      height: 320px;
      overflow: hidden;
    }
    
    .zoom-img .img-card {
      position: absolute;
      overflow: hidden;
    }
    
    .img-card img {
      -webkit-transition: 0.8s ease;
      transition: 0.8s ease;
    }
    
    .card:hover .zoom-img img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }


       /*===============Footer===================*/
.footer {
background-image: url("https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293781/pine-tree_mq2sgp.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: 300px;
position: relative;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
margin-top: 100px;
}

.footer::before {
position: absolute;
content: "";
display: block;
background-color: rgba(0, 0, 36, 0.8);
top: 0;
left: 0;
bottom: 0;
right: 0;
}

.footer .links {
position: relative;
color: #fff;
flex: 1;
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
}

.links ul {
list-style-type: none;
}

.links h3 {
font-family: Barlow Condensed;
font-weight: normal;
font-size: 23px;
margin-bottom: 10px;
}

.links li {
font-family: Roboto;
cursor: pointer;
padding: 15px 0;
}

.links li:hover {
color: #ffa801;
}

  
    
    /*==========================Responsive=============================*/
   
    @media all and (max-width: 1194px) {
      .places .card-box p {
        font-size: 14px;
      }
    }
    
  
    @media all and (max-width: 928px){
    .places-text {
      margin-top: 200px;
    }
    }
   
  @media all and (max-width: 928px) {
      .banner .form input,
  a {
        font-size: 12px;
      }
  }
  
  @media all and (max-width: 1194px) {
      .places .card-box p {
        font-size: 14px;
      }
    }
    
    @media all and (max-width: 1086px) {
      .places .cards .text {
        line-height: 40px;
      }
    
      .cards .text .h2 {
        font-size: 12px;
      }
    
      .cards .img-card img {
        height: 260px;
      }
    }
    
    @media all and (max-width: 974px) {
      .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 20px;
      }
    
      .card {
        width: 300px;
        height: 500px;
        margin: auto;
      }
    
      .cards .text {
        padding: 5px;
        font-family: Barlow Condensed;
      }
    }
    
  
    
    

